{{define "index/index"}}
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
</head>
<body>
<h1 style="margin-top: 18%;opacity: 0.7;text-align: center;color: #18bc9c;"><p style="font: 2em 'Helvetica Neue';">高性能API服务1。</h1>
</body>
</html>
{{end}}